@font-face {
    font-family: 'Gagalin-Regular';
    src: url('fonts/Gagalin-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lifehackmedium';
    src: url('fonts/Lifehack-Medium.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('fonts/Ubuntu-B.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('fonts/Ubuntu-Light.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('fonts/Ubuntu-Medium.woff');
    font-weight: 500;
    font-style: normal;
}

@mixin gagalin() {
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
}

@mixin ubuntu($style: light) {
	font-family: 'ubuntu', Helvetica, sans-serif;

	@if $style == light {
		font-weight: 300;
	}

	@if $style == medium {
		font-weight: 500;
	}

	@if $style == bold {
		font-weight: bold;
	}
}

@mixin lifehack() {
	font-family: 'lifehackmedium';
}