//colors
$orange: #f08c33;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e45028;

// resolutions
$tablets: 768px;
$phones: 480px;

// setups
@import 'css/misc/normalise.scss';
@import 'css/misc/media.scss';
@import 'css/misc/fonts.scss';
@import 'css/misc/layout.scss';

// blocks
@import 'css/blocks/start.scss';
@import 'css/blocks/header.scss';
@import 'css/blocks/nav.scss';
@import 'css/blocks/best.scss';
@import 'css/blocks/review.scss';
@import 'css/blocks/order.scss';
@import 'css/blocks/team.scss';
@import 'css/blocks/hamburger-menu-link.scss';
@import 'css/blocks/fixed-menu.scss';
@import 'css/blocks/team-acco.scss';
@import 'css/blocks/menu.scss';
@import 'css/blocks/menu-acco.scss';
@import 'css/blocks/hamburger-menu.scss';
@import 'css/blocks/popups.scss';
@import 'css/blocks/burger.scss';