//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

// resolutions
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;

// setups
@import 'css/misc/normalise.scss';
@import 'css/misc/fonts.scss';
@import 'css/misc/layout.scss';

// blocks
@import 'css/blocks/start.scss';
@import 'css/blocks/header.scss';
@import 'css/blocks/nav.scss';
@import 'css/blocks/best.scss';
@import 'css/blocks/review.scss';
@import 'css/blocks/order.scss';